@model PathologyLabManagment.Models.PatientSignUp

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row container">
    <h4 class="font-weight-bold text-center mt-5"> Delete Patient Detail</h4>
    <div class="col-md-12 ">
        <a asp-action="PatientSignUpDeatails" class="btn btn-dark float-right  font-weight-bold">Back to List</a>
    </div>      
    <dl class="row container" style="margin-left:400px">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointTime)
        </dd>
    </dl>

    <form asp-action="DeletePat" method="post">
        <input type="hidden" asp-for="Patient_Id" />
        <input type="submit" value="Delete" class="btn btn-danger float-right mb-2" /> 
    </form>
</div>
